.colors {
  border: 1px solid black;
}

.coolBlue {
  background-color: #2d5dcc;
}

.pink {
  background-color: #d957d9;
}

.mintGreen {
  background-color: #4fe0b0;
}

.beige {
  background-color: #efd9ca;
}